SECRET_KEY= # openssl rand -hex 32
BCRYPT_NUM_ROUNDS=10
PYTHONUNBUFFERED=1

# postgres
PGDATA=/var/lib/postgresql/data/pgdata
POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=test_db

# pgadmin
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_PUBLIC_PORT=5050

# redis
REDIS_HOST=redis
REDIS_PORT=6379

# backend
BACKEND_UWSGI_PORT=3716
BACKEND_PUBLIC_PORT=8080
