# dependencies
flask
flask-jwt-extended
flask-marshmallow
flask-sqlalchemy
psycopg2-binary
# flask-mail # maybe remove
# marshmallow-sqlalchemy # maybe remove
# redis # maybe remove

# tools
flake8 # maybe remove
flake8-isort # maybe remove
isort # maybe remove
mypy # maybe remove
